.auth_box{
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f522;
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: all 0.3s;
}
.auth_box input{
    width: 80%;
    padding: 0.5em;
    margin: 0.5em;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    transition: all 0.3s;

}
/* smaller screen */
@media (max-width: 768px) {
    .auth_box{
        margin:-2vw;
        width: 90vw;
        transition:ease-in-out 0.3s;
    }
}