body {
    /* gradient background */
    background: linear-gradient(25deg, #5b1d65 0%, #000000 50%, #0dace1 100%);
    font-family:Consolas;
    padding:0;
    display: block;
}

/* App root */
#root {
    max-width: 1280px;

    text-align: center;
}



*{
    scrollbar-width: none;
    
}

/*  animation */
@keyframes appear_top {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}