/* Message Section */
.messageSection{
display:flex;
flex-direction: column;
align-items: left;}
/* messages */
.messages{
    background-color: aqua;
    width: fit-content;
}
/* RElative position */
.me{}
.them{}
/* Props */
.mgname{}
.msg{}
.time{}


/* other message type */
.submessages{} 
.date{}
.status{}