/* Message Section */
.messageSection{
display:flex;
flex-direction: column;
align-items: left;}
/* messages */
.messages{}
/* RElative position */
.me{}
.them{}
/* Props */
.mgname{}
.msg{}
.time{}


/* other message type */
.submessages{} 
.date{}
.status{}